.home-container {
	width: 85%;
	height: 300px;
	background-color: white;
}

.mission-statement {
	width: 65%;
	text-align: left;
	margin: 0 auto;
}

.mission-statement h1 {
	margin-top: 120px;
	font-size: 3.5em;
	font-weight: 300;
}

.mission-statement h2 {
	font-size: 3.5em;
	margin-top: 10px;
	font-family: 'Lato';
	font-weight: 100;
}

.home-img {
}