.navbar {
	background-color: white;
	margin: 0 auto;
	width: 85%;
}

.navbar-brand {
	color:black;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Ubuntu';
	letter-spacing: 3px;
	margin-top: 5px;
}

.navbar-brand:hover {
	color: black;
}

.navbar-brand:focus {
	color: black;
}

.btn-lawyer {
	font-size: 0.95em;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-left: 10px;
	background-color: #377037;
	color: white;
}

.btn-lawyer:hover {
	background-color: #306130!important;
	color: white !important;
}

.navbar-right {
	margin-top: 0;
	padding-top: 0;
}

.navbtn-right {
	font-weight: medium;
	font-size: 1.1em;
	margin-top: 0!important;
	margin-right: 5px;
}

.btn {
	font-family: 'Ubuntu';
	border-radius: 0;
}

.navbtn-left {
	font-weight: lighter;
	font-size: 1.2em;
	margin-top: 0!important;
	margin-left: 10px;
}

.navbtn {
	padding: 14px 5px 10px 5px;
	border-top-color: transparent;
	border-top-width: 4px;
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.btn:hover {
	border-top-color: #377037;
	color: #377037;
	background-color: transparent;
	height: 100%!important;
}

.btn:focus {
	outline: none !important;
	box-shadow: none !important;
	background-color: transparent;
	border-color: #265328;
	color: #265328;
}

/*
green button light: #377037
green button dark: #285228;
light grey: #C6C6C6;
med grey: #939393;
demi white: #f8f8f9;
*/