*:focus {
    outline: 0 !important;
}

.ubuntu-light {
	font-family: 'Ubuntu';
	font-weight: 300;
}

.ubuntu-medium {
	font-family: 'Ubuntu';
	font-weight: 400;
}

.ubuntu-bold {
	font-family: 'Ubuntu';
	font-weight: 500;
}

.ubuntu-heavy {
	font-family: 'Ubuntu';
	font-weight: 700;
}

.separator {
	margin-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #CECECE;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #CECECE;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.green-btn {
    border-color: #377037;
    background-color: #377037;
    color: white;
}

.green-btn:hover {
    background-color: #306130;
    color: white;
}

.green-txt {
    color: #377037;
}

.green-txt:hover {
    color: #306130;
}

.teal-btn {
    border-color: #13888F;
    background-color: #13888F;
    color: white;
}

.teal-btn:hover {
    background-color: #0F7278;;
    color: white;
}

/* GRID xl -> beyond */
@media screen and (min-width: 1201px) {
}

/*
grey border color: #CECECE;
form grey background : #F8F8F9;
form dark grey : #F1F1F1;
green button light: #377037
green button dark: #285228;
light grey: #C6C6C6;
med grey: #939393;
demi white: #f8f8f9;
*/

link: hover {
	background-color: transparent;
}

.home-navbar {
	min-width: 220px;
	width: 160vh;
	background-color: white;
	margin: 0 auto;
}

#home-navbar-collapse {
	color: black;
	font-family: 'Ubuntu' !important;
	border-radius: 0;
}

.home-navbar-brand {
	border: none;
	background-color: transparent;
	color:black;
	font-family: 'Ubuntu';
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 0px;
	margin-top: 5px;
	cursor: pointer;
}

.home-navbar-brand:hover {
	color: black;
}

.home-navbar-brand:focus {
	color: black;
}

.icon-bar {
	color: black;
	background-color: black;
}

.home-navbar-btn {
	color: black !important;
}

.home-navbar-green-btn {
	font-family: 'Ubuntu' !important;
	font-size: 0.95em;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-left: 20px;
	background-color: #377037;
	color: white;
	border-radius: 0!important;
}

.home-navbar-green-btn: hover {
	background-color: #306130!important;
	color: white !important;
}

#home-navbar-collapse ul {
	font-weight: medium;
	font-size: 1.1em;
	margin-top: 0!important;
	margin-right: 5px;
}

.navbtn-left {
	font-weight: lighter;
	font-size: 1.2em;
	margin-top: 0!important;
	margin-left: 10px;
}

@media screen and (max-width: 1655px) {
	.home-navbar {
		width: 100% !important;
	}
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
	.home-navbar-container {
		width: 100% !important;
	}
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
}

/* Mobile/Tablet width */
@media screen and (max-width: 767px) {
	.navbar-collapse.collapse{
    	transition: height 0.2s ;
	}
	.navbar-collapse.collapsing {
	    height: 0 !important;
	}
	.navbar-collapse.collapse.in{
	    max-height: none;
	    height: 100vh;
	}
	.home-navbar-btn {
		margin: 0 auto !important;
		width: 100% !important;
		text-align: left;
		color: black;
		background-color: transparent;
		border: none;
		font-size: 19px;
		line-height: 24px;
		font-weight: 300 !important;
		padding-top: 20px;
		padding-left: 0 !important
	}
	.home-navbar-btn-bottom-border {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #C0C0C0;
	}
	.home-navbar-btn-top-border {
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #C0C0C0;
	}
	.home-navbar-btn-green {
		position: absolute;
	}
	.home-navbar-collapse-top {
		padding-top: 25px !important;
	}
	.home-navbar-collapse-bottom {
		padding-bottom: 25px !important;
	}
	.home-navbar-li {
		margin: 0 auto;
		width: 90% !important;
	}
	.home-navbar-collapse-btn {
		display: block;
	}
	.home-navbar-uncollapse-btn {
		display: none;
	}
	#home-collapse-btn-home {
		padding-top: 45px !important;
	}
}

/* Desktop/Laptop width */
@media screen and (min-width: 768px) {
	.home-navbar-btn {
		color: black !important;
		font-size: 16px;
		margin: 0 5px 10px 15px;
		padding: 16px 5px 10px 5px !important;
		background-color: transparent;
		border-top-color: transparent;
		border-top-width: 4px;
		border-right: none;
		border-left: none;
		border-bottom: none;
	}

	.home-navbar-btn:hover {
		border-top-color: #377037 !important;
		border-top-width: 4px;
		border-right: none;
		border-left: none;
		border-bottom: none;
		color: #377037 !important;
		background-color: transparent !important;
		height: 100% !important;
		text-decoration: none;
	}

	.home-navbar-btn:focus {
		outline: none !important;
		box-shadow: none !important;
		background-color: transparent;
		border-color: #265328;
		color: #265328;
		text-decoration: none;
	}

	.home-navbar-btn-right {
		font-weight: 400;
		font-family: 'Ubuntu';
	}

	.home-navbar-btn-left {
		font-weight: 300;
		font-family: 'Ubuntu';
	}

	.home-navbar-btn-green {
		color: white;
		font-weight: 300;
		font-size: 13px;
		margin: 10px 15px 10px 15px;
		padding: 5px 15px 10px 15px !important;
		background-color: #377037;
		border-top-color: transparent;
		border-top-width: 4px;
		border-right: none;
		border-left: none;
		border-bottom: none;
	}

	.home-navbar-btn-green:hover {
		color: white !important;
		background-color: #244824 !important;
		height: 100% !important;
	}

	.home-navbar-btn-green:focus {
		outline: none !important;
		box-shadow: none !important;
		background-color: transparent;
		border-color: #265328;
		color: #265328;
	}
	.home-navbar-collapse-btn {
		display: none;
	}
	.home-navbar-uncollapse-btn {
		display: block;
	}
}

@media screen and (min-width: 576px) and (max-width: 992px) {
	.home-navbar-container {
		width: 100% !important;
	}
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 992px) {
}

/* GRID lg -> xl */
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.home-navbar-container {
		width: 90% !important;
	}
}

@media screen and (min-width: 1201px) {
	.home-navbar-container {
		width: 90%;
	}
}

/* Navbar Animation CSS */
.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 2px solid black;
  width: 55%;
  transition: 0.55s;
}
.menu-top {
  top: 23px;
}
.menu-middle {
  top: 28px;
}
.menu-bottom {
  top: 33px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 30px;
  transform: rotate(45deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 30px;
  transform: rotate(-405deg);
  transition: 0.55s 0.5s;
}
/* Navbar Animation CSS END */

.signup-form-container {
	margin-top: 35px;
}

.signup-form-container input {
	border-radius: 0! important;
	border-width: 1px;
	border-color: #CECECE;
	box-shadow: none;
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 24px !important;
	border-width: 0.5px;
	height: 50px;
}

.signup-form-container input:focus {
	border-color: #13888F;
	border-style: solid;
	border-width: 1px !important;
	box-shadow: none;
}

.signup-form-container div {
	padding: 0 0 0 0;
}

.signup-form-container button {
	margin-top: 15px;
	width: 100%;
	border-radius: 0;
	text-align: left;
	color: white;
	font-weight: 600;
	font-size: 14px;
	padding: 11px 20px 11px 20px;
	line-height: 18px;
	border: 2px solid;
	height: 50px;
}

.signup-form-container button:hover {
	color: white;
}

.signup-form-container h3 {
    font-weight: 300;
    font-size: 1.8em;
}

.signup-form-container h4 {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 300;
}

.signup-form-container span:hover {
	cursor: pointer;
}

.signup-form-container p {
	margin-top: 15px;
	line-height: 1.6;
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 25px;
}

.signup-form-container a {
    font-size: 1.25em;
}

.signup-form-container a:hover {
	cursor: pointer;
    text-decoration: none;
}

.signup-form-container input:placeholder-shown {
	color: #9C9B9B;
}

.electronics-icon {
    margin-top: 15px;
	width: 64px;
	height: 64px;
    background-image: url('../img/electronics_icon.png');
}

.agree-icon {
    margin-bottom: 20px;
    width: 64px;
	height: 64px;
    background-image: url('../img/agree_icon.png');
}

input::-webkit-input-placeholder {
color: #9C9B9B !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #9C9B9B !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #9C9B9B !important;
}

input:-ms-input-placeholder {
color: #9C9B9B !important;
}

@media screen and (max-width: 250px) {
}

@media screen and (max-width: 250px) and (max-width: 575px) {
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) and (min-width: 351px) {
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
}


/* GRID sm -> med */
@media screen and (max-width: 768px) {
	.signup-form-container h2 {
		display: none;
	}
    .form-icons {
        display: none;
    }
}

/* GRID med -> beyond */
@media screen and (min-width: 769px) {
	.signup-form-container {
		opacity: 100%;
		background-color: #F7F7F8;
		position: absolute;
		padding: 25px 25px 20px 25px;
		border-radius: 0;
		border-top-width: 10px;
		border-top-color: #EFEFEF;
		border-top-style: solid;
	}
	.signup-form-container h2 {
		font-weight: 300;
		font-family: 'Lato';
		margin-bottom: 30px;
	}
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 992px) {
	.signup-form-container {
		right:35px;
		top: 50px;
        width: 325px;
	}
}

/* md -> larger */
@media screen and (min-width: 992px) and (max-width: 1550px) {
	.signup-form-container {
		right: 85px;
        width: 350px;
	}
}

@media screen and (min-width: 993px) {
	.signup-form-container {
		top: 75px;
	}
}

/* larger -> beyond */
@media screen and (min-width: 1551px) {
	.signup-form-container {
		right: 15.5%;
        width: 400px;
	}
}
