.mini-signup-form {
	background-color: #377037;
	position: absolute!important;
	width: 180px;
	height: 180px;
	margin-top: 475px;
	right: 20%;
	border: none;
}

.mini-signup-form h2 {
	font-family: 'Ubuntu';
	color: white;
	font-weight: 100;
	font-size: 1.4em;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

.mini-signup-form h3 {
	font-family: 'Ubuntu';
	font-size: 1.1em;
	color: white;
	font-weight: 500;
	text-align: right;
	padding: 20px;
}

@media screen and (max-width: 250px) {
	.mini-signup-form {
		left: 5% !important;
	}
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
	.mini-signup-form {
		right: 15% !important;
	}
	.mini-signup-form {
		margin-top: 425px !important;
	}
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) and (min-width: 351px) {
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 992px) {
}