body {
	font-family: 'Ubuntu';
}

.row-container-shifted-right {
	padding: 0 0 0 0;
	margin-right: 0 !important;
}

.row-container-shifted-left {
	padding: 0 0 0 0;
	margin-left: 0 !important;
}

.main-container {
	min-width: 250px;
	width: 160vh;
	font-family: 'Ubuntu';
}

@media screen and (max-width: 1655px) {
	.main-container {
		width: 100% !important;
	}
}

.mission-section h1 {
	font-family: 'Ubuntu';
	font-weight: lighter;
	font-size: 3.0em;
	padding-top: 80px;
}

.mission-section h2 {
	margin-top: -5px;
	font-family: 'Lato';
	font-weight: lighter;
	padding-bottom: 50px;
	font-size: 3.0em;
}

.image-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.product-section {
	margin-bottom: 25px;
}

.product-section img {
	width: 150px;
	height: 150px;
}

.product-section h1 {
	font-family: 'Ubuntu';
	font-weight: 300 !important;
	font-size: 1.8em !important;
}

.product-section p {
	font-family: 'Ubuntu';
	font-weight: 300 !important;
	font-size: 1.15em !important;
	line-height: 1.7;
}

.product-section-signup {
	margin-bottom: 75px;
}

.green-btn {
	background-color: #377037;
	color: white;
	padding: 10px 20px;
	font-family: 'Ubuntu';
	font-size: 1.1em;
	border-radius: 0;
	font-weight: 400;
	margin-top: 10px;
}

.green-btn:hover {
	color: white !important;
}

.inverse-btn {
	background-color: transparent;
	color: #377037;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	font-family: 'Ubuntu';
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
}

.inverse-btn:hover {
	color: #377037 !important;
}

.founder-section h3 {
	font-family: 'Ubuntu';
	font-weight: 100;
}

.founder-section h1 {
	font-family: 'Ubuntu';
	font-weight: 300;
}

.founder-section p {
	font-family: 'Ubuntu';
	font-weight: 200;
}

.map-section-txt h2 {
	margin-top: 0;
	font-family: 'Ubuntu';
	font-weight: 300;
	padding-bottom: 15px !important;
}

.map-section-txt h3 {
	font-family: 'Lato';
	font-weight: 100;
	padding-top: 100px;
}

.map-container {
	background-color: white;
	width: 100%;
	height: 575px;
}

.map-section-input-container {
	width: 100%;
	border-style: solid !important;
	border-width: 0.1em !important;
	border-color: #CECECE !important;
}

.map-section input {
	border-radius: 0;
	border: none;
	box-shadow: none;
	height: 50px !important;
	width: 100%;
	font-size: 21px;
}

.map-section input:focus {
	box-shadow: none;
}

.zero-padding {
	padding: 0 0 0 0;
}

.zero-margin {
	margin: 0 0 0 0;
}

@media screen and (max-width: 350px) {
	.mission-section h1 {
		font-size: 1.8em !important;
	}
	.mission-section h2 {
		font-size: 1.8em !important;
	}
}

@media screen and (min-width: 351px) and (max-width: 575px) {
	.mission-section h1 {
		font-size: 2.0em !important;
	}
	.mission-section h2 {
		font-size: 2.0em !important;
	}
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
	.row-container {
		width: 95%;
	}
	.image-section {
		height: 200px;
	}
	.founder-section h1 {
		font-size: 1.0em !important;
	}
	.founder-section h3 {
		font-size: 1.2em !important;
	}
	.map-section-input-container {
		width: 100% !important;
	}
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
	.map-section-input-container {
		width: 60%;
	}
}

/* GRID xs -> lg */
@media screen and (max-width: 769px) {
	.map-container {
		height: 350px;
	}
	#map {
		width: 100%;
		height: 350px;
	}
	.map-section-txt h3 {
		padding-top: 40px !important;
	}
	.map-section-input-container {
		margin-bottom: 60px !important;
	}
}

@media screen and (min-width: 576px) and (max-width: 992px) {
	.mission-section h1 {
		font-size: 2.2em !important;
	}
	.mission-section h2 {
		font-size: 2.2em !important;
	}
	.row-container {
		width: 90%;
	}
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 992px) {
	.map-container {
		height: 400px;
		margin-bottom: 20px;
		padding-right: 10px;
	}
	#map {
		width: 100%;
		height: 400px;
		margin: 20px auto;
	}
	.row-container {
		width: 90%;
	}
}

/* GRID lg -> xl */
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.founder-section-txt {
		margin-top: 75px;
	}
	.mission-section h1 {
		font-size: 2.4em !important;
	}
	.mission-section h2 {
		font-size: 2.4em !important;
	}
}

/* GRID xl -> beyond */
@media screen and (min-width: 1201px) {
	.founder-section-txt {
		margin-top: 75px;
	}
}

@media screen (max-width: 1260px) and (min-width: 993px) {
}

@media screen (min-width: 1261px) and (max-width: 1550px) {
}

/* small -> mid */
@media screen and (max-width: 992px) {
	.mission-section h1 {
		padding-top: 60px !important;
	}
	.mission-section h2 {
		padding-bottom: 25px !important;
	}
	.row-container-shifted-right {
		width: 100%;
	}
	.row-container-shifted-left {
		width: 100%;
	}
	.product-section {
		margin-top: 75px;
	}
	.product-section-colrow {
		margin-top: 25px !important;
	}
	.founder-section h1 {
		font-size: 2.0em !important;
		margin-top: 0;
	}
	.founder-section h3 {
		font-size: 2.0em !important;
	}
	.founder-section p {
		font-size: 1.2em !important;
		line-height: 1.5;
		margin-top: 20px;
	}
	.founder-section-txt button {
		padding-top: 10px !important;
	}
	.founder-section-txt {
		margin-top: 75px;
		margin-bottom: 50px;
	}
	.footer-member-btn {
		margin-top: 10px !important;
	}
}

/* mid -> beyond */
@media screen and (min-width: 993px) {
}

/* mid -> large */
@media screen and (min-width: 991px) and (max-width: 1024px) {
	.row-container {
		width: 90%;
	}
	.row-container-shifted-right {
		width: 95%;
	}
	.row-container-shifted-left {
		width: 95%;
	}
}

/* xl -> small */
@media screen and (max-width: 990px) {
	.image-section {
		height: 350px;
	}
}

/* small -> max */
@media screen and (min-width: 991px) {
	.image-section {
		height: 550px;
	}
}

/* large -> max */
@media screen and (min-width: 1025px) {
	.row-container {
		width: 70%;
	}
	.row-container-shifted-right {
		width: 85%;
	}
	.row-container-shifted-left {
		width: 85%;
	}
}

/* md -> larger */
@media screen and (min-width: 992px) and (max-width: 1550px) {
	.product-section {
		margin-top: 195px;
	}
	.founder-section h3 {
		font-size: 1.8em !important;
	}
	.founder-section h1 {
		font-size: 2.2em !important;
		margin-top: 0;
	}
	.founder-section p {
		font-size: 1.2em !important;
		line-height: 1.733;
	}
	.map-section-txt h2 {
		font-size: 2.0em !important;
	}
	.map-section-txt {
		margin-top: 60px;
	}
	#map {
		width: 90%;
		height: 450px;
		margin: 75px auto;
	}
	.map-container {
		height: 525px;
	}
}

@media screen and (min-width: 1550px) {
	.mission-section h1 {
		font-size: 4.0em !important;
		padding-top: 90px !important;
	}
	.mission-section h2 {
		font-size: 4.0em !important;
	}
	.product-section {
		margin-top: 155px;
	}
	.founder-section h3 {
		font-size: 2.5em !important;
	}
	.founder-section h1 {
		font-size: 3.0em !important;
		margin-top: 0;
	}
	.founder-section p {
		font-size: 1.3em !important;
		line-height: 1.733;
	}
	.map-section-txt h2 {
		font-size: 3.0em;
	}
	.map-section-txt h3 {
		font-size: 2.7em;
	}
	.map-section-txt {
		margin-top: 75px;
	}
	#map {
		width: 90%;
		height: 500px;
		margin: 75px auto;
	}
}

.white-left-binary-container {
	background-color: white;
	margin-top: 110px;
	margin-left: 0;
	width: 88.5%;
	margin-bottom: 50px;
}

.white-left-binary-container-body h1 {
	font-size: 3.5em;
	font-weight: 300;
	font-family: 'Lato';
	padding-top: 35px;
}

.white-left-binary-container-body {
	margin: 0 auto;
	width: 60%;
}

.white-left-binary-container-body-bottom {
	margin-top: 60px;
	height: 300px;
}

.white-left-binary-container-body h3 {
	font-weight: 300;
}

.white-left-binary-container-body-btn {
	border-radius: 0;
	background-color: #377037;
	color: white;
	padding: 11px 20px;
}

.white-left-binary-container-body-btn:hover {
	background-color: #285228;
	color: white;
}

.image-row-container {
	height: 500px;
	width: 100%;
	background-color: #377037;
}

@media screen and (max-width: 250px) {
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) and (min-width: 351px) {
}

@media screen and (max-width: 768px) {
	.hide-in-mobile {
		display: none;
		min-width: 100% !important;
	}
	.show-in-mobile {
		display: block;
	}
	.transparent-on-mobile {
		color: transparent;
		line-height: 0;
	}
	.white-left-binary-container {
		margin-top: 80px;
		width: 95% !important;
		margin-bottom: 25px !important;
	}
	.white-left-binary-container-body h1 {
		font-size: 2.4em !important;
	}
	.white-left-binary-container-body {
		width: 95% !important;
	}
	.white-left-binary-container-body-bottom {
		margin-top: 40px;
		height: 150px;
	}
	.white-left-binary-container-body-btn {
		text-align: left;
		width: 100%;
		padding: 11px 20px;
		margin-top: 0px;
	}
	.white-left-binary-container-body-btn-inverse {
		text-align: left;
		border-width: 2px;
		border-color: #377037;
		background-color: white;
		color: #377037;
		padding: 11px 20px;
	}
	.white-left-binary-container-body-btn-inverse: hover {
		background-color: #377037;
		color: white;
	}
	.image-row-container {
		height: 250px;
	}
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
	.white-left-binary-container-body h4 {
		font-family: 'Lato';
		font-weight: 300;
		font-size: 1.25em;
		line-height: 1.71429;
		padding-bottom: 10px;
		padding-top: 15px;
		height: 80px;
		width: 400px;
	}
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 991px) {
	.white-left-binary-container-body {
		width: 85% !important;
	}
	.white-left-binary-container-body h1 {
		font-size: 2.8em !important;
		padding-top: 20px;
	}
	.white-left-binary-container-body h3 {
		font-size: 1.7em;
	}
	.white-left-binary-container-body h4 {
		font-size: 1.15em;
		width: 250px;
	}
}

/* GRID med -> lg */
@media screen and (min-width: 992px) and (max-width: 1260px) {
	.white-left-binary-container-body {
		width: 70% !important;
	}
	.white-left-binary-container-body h1 {
		font-size: 3.0em !important;
	}
	.white-left-binary-container-body h3 {
		font-size: 1.7em;
	}
	.white-left-binary-container-body h4 {
		font-size: 1.15em;
		width: 250px;
	}
}

.signup-header-section {
	text-align: left;
}

@media screen and (max-width: 250px) {
}

@media screen and (max-width: 250px) and (max-width: ) {
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) and (min-width: 351px) {
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
}


/* GRID sm -> med */
@media screen and (max-width: 768px) {
	.signup-container-bg {
		height: 400px;
	}
	.signup-header-section h1 {
		margin-top: 150px;
		font-size: 3.0em;
		font-weight: 300;
	}
}

/* GRID med -> beyond */
@media screen and (min-width: 769px) {
	.signup-header-section h1 {
		margin-top: 150px;
		font-weight: 300;
	}
	.signup-header-section h2 {
		margin-top: -10px;
		font-family: 'Lato';
		font-weight: 200;
		padding-bottom: 75px;
	}
	.signup-image-section {
		height: 600px;
	}
	.signup-container-bg {
		height: 550px;
	}
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 992px) {
	.signup-header-section h1 {
		font-size: 3.0em;
	}
}

/* md -> beyond */
@media screen and (min-width: 993px) {
	.signup-header-section h1 {
		font-size: 4.0em;
	}
}

/* md -> larger */
@media screen and (min-width: 992px) and (max-width: 1550px) {
}

/* larger -> beyond */
@media screen and (min-width: 1551px) {
}

.signin-container {
	position: absolute;
	left: 50%;
    transform: translate(-50%, 0);
	height: 100vh;
	width: 160vh;
	min-width: 250px;
}

.signin-form {
	width: 600px;
	margin: 150px auto;
	min-width: 250px;
}

.signin-form h3 {
	font-family: 'Lato';
	font-weight: 400;
	font-size:1.9em;
	margin-bottom: 20px;
}

.signin-form input {
	border-radius: 0;
	height: 44px;
	padding: 8px 18px 8px 18px;
	font-size: 14px;
	border: 1px solid #E5E5E4;
	outline: 0;
	color: black;
}

input {
    -webkit-appearance: none;
    margin-bottom: 0!important;
}

.signin-form input:hover {
	border-color: #D6D6D5;
}

/* GRID xs -> md */
@media screen and (max-width: 768px) {
	.signin-form {
		width: 100% !important;
	}
}

/* GRID xs -> xl */
@media screen and (max-width: 1655px) {
	.signin-container {
		width: 100% !important;
	}
}
