.home-container {
	min-width: 300px !important;
}

.mission-section h1 {
	font-family: 'Ubuntu';
	font-weight: lighter;
	font-size: 3.0em;
	padding-top: 80px;
}

.mission-section h2 {
	margin-top: -5px;
	font-family: 'Lato';
	font-weight: lighter;
	padding-bottom: 50px;
	font-size: 3.0em;
}

.image-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.product-section {
	margin-bottom: 25px;
}

.product-section img {
	width: 150px;
	height: 150px;
}

.product-section h1 {
	font-family: 'Ubuntu';
	font-weight: 300 !important;
	font-size: 1.8em !important;
}

.product-section p {
	font-family: 'Ubuntu';
	font-weight: 300 !important;
	font-size: 1.15em !important;
	line-height: 1.7;
}

.product-section-signup {
	margin-bottom: 75px;
}

.green-btn {
	background-color: #377037;
	color: white;
	padding: 10px 20px;
	font-family: 'Ubuntu';
	font-size: 1.1em;
	border-radius: 0;
	font-weight: 400;
	margin-top: 10px;
}

.green-btn:hover {
	color: white !important;
}

.inverse-btn {
	background-color: transparent;
	color: #377037;
	padding-top: 10px;
	padding-left: 0;
	font-family: 'Ubuntu';
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 10px;
}

.inverse-btn:hover {
	color: #377037 !important;
}

.founder-section-txt {
	margin-bottom: 50px;
}

.founder-section h3 {
	font-family: 'Ubuntu';
	font-weight: 100;
}

.founder-section h1 {
	font-family: 'Ubuntu';
	font-weight: 300;
}

.founder-section p {
	font-family: 'Ubuntu';
	font-weight: 200;
}

@media screen and (max-width: 350px) {
	.mission-section h1 {
		font-size: 1.8em !important;
	}
	.mission-section h2 {
		font-size: 1.8em !important;
	}
}

@media screen and (min-width: 351px) and (max-width: 575px) {
	.mission-section h1 {
		font-size: 2.0em !important;
	}
	.mission-section h2 {
		font-size: 2.0em !important;
	}
}

/* GRID xs -> sm */
@media screen and (max-width: 575px) {
	.image-section {
		height: 200px;
	}
	.founder-section h1 {
		font-size: 1.0em !important;
	}
	.founder-section h3 {
		font-size: 1.0em !important;
	}
}

/* GRID sm -> med */
@media screen and (min-width: 576px) and (max-width: 768px) {
}

/* GRID med -> lg */
@media screen and (min-width: 769px) and (max-width: 992px) {
}

/* GRID lg -> xl */
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.founder-section-txt {
		margin-top: 50px;
		margin-bottom: 70px !important;
	}
	.mission-section h1 {
		font-size: 2.5em !important;
	}
	.mission-section h2 {
		font-size: 2.5em !important;
	}
}

/* GRID xl -> beyond */
@media screen and (min-width: 1201px) {
	.founder-section-txt {
		margin-top: 75px;
		margin-bottom: 70px !important;
	}
}

/* small -> mid */
@media screen and (max-width: 992px) {
	.mission-section h1 {
		padding-top: 60px !important;
	}
	.mission-section h2 {
		padding-bottom: 25px !important;
	}
	.row-container {
		width: 100%;
	}
	.product-section {
		margin-top: 75px;
	}
	.product-section-colrow {
		margin-top: 25px !important;
	}
	.founder-section h1 {
		font-size: 2.0em !important;
		margin-top: 0;
	}
	.founder-section h3 {
		font-size: 2.0em !important;
	}
	.founder-section p {
		font-size: 1.2em !important;
		line-height: 1.5;
	}
}

/* mid -> beyond */
@media screen and (min-width: 991px) {
	.founder-section h3 {
		font-size: 2.5em !important;
	}

	.founder-section h1 {
		font-size: 3.0em !important;
		margin-top: 0;
	}

	.founder-section p {
		font-size: 1.3em !important;
		line-height: 1.733;
	}
}

/* mid -> large */
@media screen and (min-width: 991px) and (max-width: 1024px) {
	.row-container {
		width: 90%;
	}
}

/* xl -> small */
@media screen and (max-width: 990px) {
	.image-section {
		height: 350px;
	}
}

/* small -> max */
@media screen and (min-width: 991px) {
	.image-section {
		height: 500px;
	}
}

/* large -> max */
@media screen and (min-width: 1025px) {
	.row-container {
		width: 70%;
	}
}

/* md -> larger */
@media screen and (min-width: 992px) and (max-width: 1550px) {
	.product-section {
		margin-top: 195px;
	}
}

@media screen and (max-width: 1549px) {
	.home-container {
		width: 100% !important;
	}
}

@media screen and (min-width: 1550px) {
	.home-container {
		width: 85%;
	}
	.mission-section h1 {
		font-size: 4.0em !important;
		padding-top: 90px !important;
	}
	.mission-section h2 {
		font-size: 4.0em !important;
	}
	.product-section {
		margin-top: 155px;
	}
}

@media screen and (max-width: 1549px) {
	.home-container {
		width: 100vh;
	}
}